html {
	position: relative;
	min-height: 100%;
}

body {
	margin-right: calc(-1 * (100vw - 100%));
    overflow-x: hidden;
	min-height: 100%;
	padding-top: 76px;
	/* background: url(../images/bg.jpg) repeat fixed center; */
	background: linear-gradient(-45deg, #a6ee90, #72bfef, #55afef, #90ef81);
	background-size: 400% 400%;
	-webkit-animation: moveBg 12s linear infinite;
	        animation: moveBg 12s linear infinite;
}

@-webkit-keyframes moveBg {
	/* moveBg */
	0% {
		background-position: 0 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0 50%;
	}
}

@keyframes moveBg {

	/* moveBg */
	0% {
		background-position: 0 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0 50%;
	}
}
.panel {
	padding-left: 5px;
	padding-right: 5px;
}
/*login start*/
.login .input-group {
	margin: 10px 0;
	/* 输入框上下外边距为10px,左右为0px */
}

.login .login-title {
	padding: 5px;
	border-bottom: 1px solid #ddd;
	/*h3字体下边框*/
}

.login .info-a li {
	list-style-type: square;
	/*列表项图标为小正方形*/
	margin: 10px 0;
	/*上下外边距是10px*/
}

.login .info-a em {
	/*强调的样式*/
	color: #c7254e;
	font-style: inherit;
	background-color: #f9f2f4;
}

/*login End*/

/*registered start*/
.registered {
	/* margin: auto 10px; */
}

/*registered End*/

.footer {
	padding: 5px;
}
